### 판다스 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [ ]:

# 1번 문제 풀이 작성

# 세 수를 입력받아 리스트에 저장
numbers = list(map(int, input("세 수를 입력하세요 (공백으로 구분): ").split()))

# 가장 큰 수와 가장 작은 수의 차이 계산
difference = max(numbers) - min(numbers)

# 결과 출력
print(f"가장 큰 수와 가장 작은 수의 차이는: {difference}")

가장 큰 수와 가장 작은 수의 차이는: 2

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [ ]:

# 2번 문제 풀이 작성

def sum_of_lists(list1, list2):
    # 두 리스트를 합친 후, 모든 요소의 합을 구합니다.
    return sum(list1) + sum(list2)

# 예시 실행
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = sum_of_lists(list1, list2)

print(f"두 리스트의 합: {result}")

두 리스트의 합: 21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [ ]:

# 3번 문제 풀이 작성

def common_elements(list1, list2):
    # 두 리스트를 set으로 변환한 뒤, 교집합을 구하여 새로운 리스트로 반환
    return list(set(list1) & set(list2))

# 예시 실행
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 3, 4, 5]
result = common_elements(list1, list2)

print(f"두 리스트의 중복된 데이터: {result}")

두 리스트의 중복된 데이터: [1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 국어점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [ ]:

# 4번 문제 풀이 작성

# 학생 정보 입력받기
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))
korean_score = int(input("국어 점수를 입력하세요: "))
english_score = int(input("영어 점수를 입력하세요: "))

# 학생 정보 딕셔너리로 저장
student = {
    "이름": name,
    "나이": age,
    "국어 점수": korean_score,
    "영어 점수": english_score
}

# 결과 출력
print("\n학생 정보:")
print(student)

학생 정보:
{'이름': '나나', '나이': 25, '국어 점수': 80, '영어 점수': 90}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [ ]:

# 5번 문제 풀이 작성

# 수학점수 정보 입력받기
math_score = int(input("수학 점수를 입력하세요: "))

# 총점 계산
total_score = korean_score + english_score + math_score

# 수학점수 딕셔너리로 저장
student["수학점수"] = math_score


# 딕셔너리에 총점 추가
student["총점"] = total_score

# 결과 출력
print("\n학생 정보:")
print(student)

학생 정보:
{'이름': '나나', '나이': 25, '국어 점수': 80, '영어 점수': 90, '수학점수': 85, '총점': 255}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [ ]:

# 6번 문제 풀이 작성

class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

# 점수에 따른 등급을 계산하는 함수
def get_grade(score):
    if score >= 90:
        return 'A등급'
    elif score >= 80:
        return 'B등급'
    elif score >= 70:
        return 'C등급'
    else:
        return 'D등급'

# stu_grade 리스트를 생성하여 점수에 따른 등급을 추가
stu_grades = [get_grade(score) for score in class_room_data['stu_score']]

# 딕셔너리에 stu_grade 키를 추가
class_room_data['stu_grade'] = stu_grades

# 결과 출력
class_room_data

{'stu_no': [1, 2, 3, 4, 5],
 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'],
 'stu_score': [85, 65, 70, 80, 95],
 'stu_grade': ['B등급', 'D등급', 'C등급', 'B등급', 'A등급']}