# 파이썬 프로그래밍 시험 (A)

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [3]:

# 1번 문제 풀이 작성

# 세 수를 입력받아 리스트에 저장
numbers = list(map(int, input("세 수를 입력하세요 (공백으로 구분): ").split()))

# 가장 큰 수와 가장 작은 수의 차이 계산
difference = max(numbers) - min(numbers)

# 결과 출력
print(f"가장 큰 수와 가장 작은 수의 차이는: {difference}")

가장 큰 수와 가장 작은 수의 차이는: 4

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [2]:

# 2번 문제 풀이 작성

def sum_of_lists(list1, list2):
    # 두 리스트를 합친 후, 모든 요소의 합을 구합니다.
    return sum(list1) + sum(list2)

# 예시 실행
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = sum_of_lists(list1, list2)

print(f"두 리스트의 합: {result}")

두 리스트의 합: 21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [3]:

# 3번 문제 풀이 작성

def common_elements(list1, list2):
    # 두 리스트를 set으로 변환한 뒤, 교집합을 구하여 새로운 리스트로 반환
    return list(set(list1) & set(list2))

# 예시 실행
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 3, 4, 5]
result = common_elements(list1, list2)

print(f"두 리스트의 중복된 데이터: {result}")

두 리스트의 중복된 데이터: [1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 수학점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [4]:

# 4번 문제 풀이 작성

# 학생 정보 입력받기
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))
korean_score = int(input("국어 점수를 입력하세요: "))
english_score = int(input("영어 점수를 입력하세요: "))
math_score = int(input("수학 점수를 입력하세요: "))

# 학생 정보 딕셔너리로 저장
student = {
    "이름" : name,
    "나이" : age,
    "국어 점수" : korean_score,
    "영어 점수" : english_score,
    "수학 점수" : math_score
}

# 결과 출력
print("\n학생 정보 : ")
print(student)

학생 정보 :
{'이름': '김나나', '나이': 30, '국어 점수': 80, '영어 점수': 90, '수학 점수': 78}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [6]:

# 5번 문제 풀이 작성

# 총점 계산
total_score = korean_score + english_score + math_score

# 딕셔너리에 총점 추가
student["총점"] = total_score

# 결과 출력
print("\n학생 정보 : ")
print(student)

학생 정보 :
{'이름': '김나나', '나이': 30, '국어 점수': 80, '영어 점수': 90, '수학 점수': 78, '총점': 248}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [7]:

class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

# 6번 문제 풀이 작성

# 점수에 따른 등급을 계산하는 함수
def get_grade(score):
    if score >= 90:
        return 'A등급'
    elif score >= 80:
        return 'B등급'
    elif score >= 70:
        return 'C등급'
    else:
        return 'D등급'

# stu_grade 리스트를 생성하여 점수에 따른 등급을 추가
stu_grade = [get_grade(score) for score in class_room_data['stu_score']]

# 딕셔너리에 stu_grade 키를 추가
class_room_data['stu_grade'] = stu_grade

# 결과 출력
class_room_data

{'stu_no': [1, 2, 3, 4, 5],
 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'],
 'stu_score': [85, 65, 70, 80, 95],
 'stu_grade': ['B등급', 'D등급', 'C등급', 'B등급', 'A등급']}

7. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [8]:
import pandas
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 7번 문제 답안 작성
# df = pandas.DataFrame(javaClass)

# 학생 목록 DataFrame으로 변환
students_df = pandas.DataFrame(javaClass['studentList'])

# 나이가 30 이상인 학생들 
over30 = students_df[students_df['age'] >= 30]

# 그 학생들의 점수 합 계산
score_sum = over30['score'].sum()
print("30세 이상 학생들의 점수 합:", score_sum)

30세 이상 학생들의 점수 합: 250

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [9]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

8. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [ ]:

# 8번 문제 답안 작성
import pandas
df = pandas.DataFrame(population)

# 각 연령별 인구수의 합
result1 = sum(df['0~4세'])
result2 = sum(df['5~9세'])
result3 = sum(df['10~14세'])
result4 = sum(df['15~19세'])
result5 = sum(df['20~24세'])

# 연령별 인구수의 합을 나타내는 리스트
sumList = [int(result1), int(result2), int(result3), int(result4), int(result5)]

# 최대값 출력
m = max(sumList)
print("가장 많은 인구수 : ", m)

# 최대값이 있는 연령대 
for m in sumList

가장 많은 인구수 :  717056

9. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [12]:
# 9번 문제 답안 작성

# 전체 연령별 인구수의 합
total = int(result1) + int(result2) + int(result3) + int(result4) + int(result5)

# 총 인구수 추가
df['총 인구수'] = total

df

    행정기관    0~4세    5~9세  10~14세  15~19세  20~24세    총 인구수
0  서울특별시  214651  210833  269171  335828  343797  2871137
1  부산광역시   68006   68704   94802  124564  125907  2871137
2  대구광역시   53515   58332   91268  101110   96078  2871137
3  인천광역시   69453   68555   86574  106435  102297  2871137
4  울산광역시   29835   29331   29035   49119   43937  2871137